<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chart">

<!-- 파라미터 없이 그냥 리뷰테이블에서 별점 카운트하기  -->


<select id="reviewstarcnt" parameterType="Map" resultType="Map">
   SELECT STAR, COUNT(*) AS CNT
   FROM project_nutrients.review
   WHERE STAR BETWEEN 1 AND 5
   GROUP BY STAR;
</select>  

<!-- SUPP_ID 던져졌을 때, 그에 해당하는 리뷰 테이블에서 별점 카운트해서 가져오기 -->

<select id="suppid_tarcnt" parameterType="Map" resultType="Map">
   SELECT STAR, COUNT(*) AS CNT
   FROM project_nutrients.review
   WHERE STAR BETWEEN 1 AND 5 AND SUPP_ID = #{SUPP_ID}
   GROUP BY STAR;
</select>  

<!-- effect_제품별 댓글수로 top을 출력하기  -->
<select id="effectreviewcnt" parameterType="Map" resultType="Map">
SELECT LEFT(PRODUCT, 5) AS SHORT_PRODUCT, COUNT(*) AS COUNT_RESULT
FROM dummy_tables_supp
WHERE EFFECT_FLAG = #{EFFECT_FLAG}
GROUP BY LEFT(PRODUCT, 5)
ORDER BY COUNT_RESULT DESC
LIMIT 8;
</select>
 
</mapper>